.botao {
    background-color: var(--branco);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    /* border: none; */
    cursor: pointer;
    color: var(--preto);
    margin: 32px auto;
}

.botao:hover {
    background-color: var(--verde);
    color: var(--branco) ;
}

