.botao {
    background-color: var(--branco);
    border-radius: 10px;
    padding: 18px;
    /* border: none; */
    cursor: pointer;
    color: var(--preto);
    margin: 0px 0px 0px 10px;
}

.botao:hover {
    background-color: var(--verde);
    color: var(--branco) ;
}

