.conteudo{
    width: 80%; /* Largura desejada para a section */
    max-width: 900px; /* Largura máxima para evitar que fique muito larga */
    background-color: var(--branco); /* Cor de fundo da section */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
    text-align: center; /* Centraliza o conteúdo dentro da section */
    min-height: 500px; /* Altura mínima desejada */
    margin: 50px auto; /* Define margens automáticas para centralizar horizontalmente */
    border: 2px solid var(--preto); /* Define uma borda sólida de 2px de espessura e cor cinza */
}

